body h1, h3, .contacto h4{
font-family: 'Merriweathe' ;
font-weight: bold;

}
/*------------------------------header*/
 header .navbar{
   margin-bottom:0;
   padding-left: 0;
   padding-right:0;


 }
 header {
   border-color:transparent;
   background: #da2c38;
   color: #f4efba;

 }
 header .navbar-default{
   border-color:transparent;
   background: #DA2C38;
   background-attachment: fixed;
}


 }
 header .navbar-default .navbar-header a{
 color: #f4efba;
 text-decoration: none;
 font-weight: bold;
font-size: 30px;
font-family: 'Merriweathe' ;

 }

header .navbar-default .navbar-nav li a{
color: #f4efba;
font-weight: bold;

}
header .navbar-default .navbar-header button {

 	background: #da2c38;

 }
 .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
   	background: #da2c38;
 }

header .navbar .navbar-header button:hover, .navbar-default .navbar-header button:focus{

 	background: #da2c38;

 }
 header .navbar-default .navbar-nav li a:hover{

  	background:rgba(255,255,255,0.1) ;
    border-bottom: 2px solid rgba(255,255,255,0.4);

  }

/*-------------------------hero*/
.fondo{

	background: rgba(0,0,0,0.6);
  padding:  10% 0;
}

.hero{
  background:  url(../img/creamy.jpg) no-repeat right;
  background-size:180%;
  position:relative;
  color:white;
  margin-top: 0;
}
.hero .texto-centro h1{
  font-size: 40px;
  font-family: 'Merriweathe' ;
}

.texto-centro{
  margin: 7% 0;
  text-align: center;
}
/*----------------------------contenido*/
.contenido{
    text-align: center;


}
.conten{
    background: #f4efba;
    padding:  3% 3%;
    color:  #da2c38;
}
.conten h3{
  text-align: center;
}
/*--------------------------abaut*/
.abaut{
background: #da2c38;
  padding:  3% 5%;
  color: #f4efba;
  text-align: center;

}
/*---------------------------contacto*/
.contacto{

  text-align: center;
  color:  #da2c38;
  background: #f4efba;
  padding: 3% 3%;
}
.contacto i{
  font-size: 500%;

}


/*-------------------------footer*/
footer{
  background: #da2c38;
  color: #f4efba;
}
footer span{
  color: yellow;
}
footer p{
  margin: 20px 0;
}

.contacto1{
  background: rgba(255,255,255,0.4);
}
/*-----------------------------contacto*/
body {
background : #f4f0bb; ;
}

/*-------------------------------------HEADER*/
header .navbar {
margin-bottom:0px;
}

.navbar-default {
background: #da2c38;
border: 1px solid  #da2c38;
}

.navbar-default .navbar-header a {
color: #f4f0bb;
font-family:'Merriweather' ;
}

.navbar-default .navbar-right li a {
color: #f4f0bb;
}




.contactanos {
background-image: url("../img/creamy.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
color: #f4f0bb;
}
.contactanos .opacity {
background-color: rgba(0, 0, 0, 0.6);
padding: 5% 0;
margin-top: 15%; }

.contactanos {
text-align: center;
}

.contactanos input {
width: 20%;
padding: 3px 5px;
}

.contactanos textarea {
width: 20%;
padding: 3px 5px;
padding-bottom: 25px;
}

.contactanos button {
border: none;
color: #da2c38;
background: #f4f0bb;
padding: 6px 8px;
border-radius: 8px;
}

footer {
background-color: #da2c38;
color: #f4f0bb;
}

footer .padding2 {
padding: 2% 0;
}


@media screen and (max-width:1000px)
{
.container {
width: 100%;
}

.contactanos input {
width: 30%;
}

.contactanos textarea {
width: 30%;
}

.navbar-default .navbar-header button:focus {
background: #da2c38;
}

.navbar-default .navbar-header button:hover {
background: #da2c38;
}
}

@media screen and (max-width:520px)
{
.container {
width: 100%;
}

.contactanos input {
width: 40%;
}

.contactanos textarea {
width: 40%;
}

.navbar-default .navbar-right li a {
color: #da2c38 ;
}


.navbar-default .navbar-header button:focus {
background: #da2c38;
}

.navbar-default .navbar-header button:hover {
background: #da2c38;
}
}
/*---------------------fin*/
@media screen and (max-width:700px)  {
  .hero{
    background-size:cover;
  }
  .hero .texto-centro{
    margin: 20%;
  }
  footer{text-align: center;
  }
  .navbar-default{
    z-index: 1;

  }
}
